@font-face {
  font-family: "RobotoSerif";
  font-display: swap;
  src: url("../fonts/RobotoSerif-Regular.woff") format("woff"),
    url("../fonts/RobotoSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HachiMaruPop";
  font-display: swap;
  src: url("../fonts/HachiMaruPop-Regular.woff") format("woff"),
    url("../fonts/HachiMaruPop-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
